version: '3'

services:
    php-fpm:
        container_name: {{ name }}_php-fpm_1
        build:
            context: ./vendor/nextlevels/laradock/php-fpm
            args:
                - PHP_VERSION=7.3
                - INSTALL_XDEBUG=false
                - XDEBUG_HOST=dockerhost
                - INSTALL_SOAP=false
                - INSTALL_ZIP_ARCHIVE=true
                - INSTALL_OPCACHE=true
                - INSTALL_APCU=false
                - INSTALL_MYSQLI=false
                - INSTALL_IMAGE_OPTIMIZERS=false
                - INSTALL_IMAGEMAGICK=false
        volumes:
            - ./web:/var/www
        expose:
            - "9000"
        extra_hosts:
            - "dockerhost:10.0.75.1"
        environment:
            - PHP_IDE_CONFIG=serverName={{ name|replace({'_': '-'}) }}.local
        links:
            - mysql
        networks:
            - backend

    nginx:
        container_name: {{ name }}_nginx_1
        build:
            context: ./vendor/nextlevels/laradock/nginx
            args:
                - PHP_UPSTREAM_CONTAINER=php-fpm
                - PHP_UPSTREAM_PORT=9000
        volumes:
            - ./docker/logs/nginx/:/var/log/nginx
            - ./vendor/nextlevels/laradock/nginx/sites/:/etc/nginx/sites-available:cached
            - ./vendor/nextlevels/laradock/nginx/ssl/:/etc/nginx/ssl:cached
            - ./web:/var/www
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - php-fpm
        networks:
            - frontend
            - backend

    apache2:
        container_name: {{ name }}_apache2_1
        build:
            context: ./vendor/nextlevels/laradock/apache2
            args:
                - PHP_UPSTREAM_CONTAINER=php-fpm
                - PHP_UPSTREAM_PORT=9000
                - PHP_UPSTREAM_TIMEOUT=60
                - DOCUMENT_ROOT=/var/www/
        volumes:
            - ./docker/logs/apache2/:/var/log/apache2
            - ./vendor/nextlevels/laradock/apache2/sites/:/etc/apache2/sites-available:cached
            - ./web:/var/www
        ports:
            - "80:80"
            - "443:443"
        depends_on:
            - php-fpm
        networks:
            - frontend
            - backend

    mysql:
        container_name: {{ name }}_mysql_1
        build:
            context: ./vendor/nextlevels/laradock/mysql
            args:
                - MYSQL_VERSION=5.7
        environment:
            - MYSQL_DATABASE={{ name }}
            - MYSQL_USER={{ name }}_u
            - MYSQL_PASSWORD={{ name }}_p
            - MYSQL_ROOT_PASSWORD=root
            - TZ=UTC
        volumes:
            - ./docker/data/mysql:/var/lib/mysql:cached
            - ./vendor/nextlevels/laradock/mysql/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d
        ports:
            - "3306:3306"
        networks:
            - backend

    mailhog:
        container_name: {{ name }}_mailhog_1
        build: ./vendor/nextlevels/laradock/mailhog
        ports:
            - "1025:1025"
            - "8025:8025"
        networks:
            - frontend
            - backend

networks:
    frontend:
        driver: bridge
    backend:
        driver: bridge

volumes:
    mysql:
        driver: local